#reservation-list-wrapper 
{
    width: 1200px;
    min-width: 700px;

    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 17px;
}

.reservation-list-title 
{
    text-align: center;

    font-family: 'KCC-Hanbit';
    font-size: 25px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);
}

.reservation-list-size-text 
{
    font-family: 'NanumSquareRound';
    font-size: 16px;
    font-weight: 400;
    color: rgba(138, 146, 166, 1);
}

.reservation-list-table 
{
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    text-align: center;
    font-family: 'NanumSquareRound';
    font-size: 17px;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
}

.reservation-list-table-top 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    background-color: rgba(255, 148, 45, 0.2);
    border-radius: 6px;

    text-align: center;
}

.reservation-list-table-tr 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    gap: 95px;
    padding: 15px;

    border-top: 1px solid rgba(238, 238, 238, 1);

    text-align: center;
    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);
}

.reservation-list-table-tr:hover 
{
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.2);
}

.reservation-list-table-reservation-number 
{
    width: 70px;
}

.reservation-list-table-reservation-status 
{
    width: 70px;
}

.reservation-list-table-reservation-restaurant-name 
{
    width: 100px;
}

.reservation-list-table-reservation-date 
{
    width: 50px;
}

.reservation-list-table-reservation-time 
{
    width: 65px;
}

.reservation-list-table-reservation-people 
{
    width: 35px;
}

.reservation-list-table-reservation-user-name 
{
    width: 50px;
}

.reservation-list-table-reservation-restaurant-location 
{
    width: 100px;
}

.reservation-list-bottom 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reservation-list-pagenation 
{
    display: flex;
    align-items: center;

    gap:24px;
}

.reservation-list-page-left 
{
    width: 40px;
    height: 40px;

    background-image: url('../../../../../assets/image/page-left.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.reservation-list-page-right 
{
    width: 40px;
    height: 40px;

    background-image: url('../../../../../assets/image/page-right.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.reservation-list-page-box 
{
    display: flex;
    align-items: center;

    gap: 16px;
}

.reservation-list-page 
{
    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(138, 146, 166, 1);

    cursor: pointer;
}

.reservation-list-page-active 
{
    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    color: rgba(255, 148, 45, 1);
}

.reservation-list-table-reservation-status-success 
{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 28px;

    background-image: url('../../../../../assets/image/status-success.png');
    background-size: cover;
}

.reservation-list-table-reservation-status-fail 
{
    width: 25px;
    height: 25px;

    background-image: url('../../../../../assets/image/status-fail.png');
    background-size: cover;
}
/* /분석 완료/ */