#review-detail-wrapper 
{
    display: flex;
    flex-direction: column;

    gap: 24px;
    padding-top: 20px;
}

.review-detail-main-box 
{
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    padding: 24px;
    
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
}

.review-detail-image 
{
    width: 200px;
    height: 200px;
}

.review-detail-info-box 
{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: left;

    gap: 8px;

    font-family: 'NanumSquareRound';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(138, 146, 166, 1);
}

.review-detail-info-divider 
{
    font-family: 'NanumSquareRound';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(230, 230, 230, 1);
}

.review-detail-contents-box 
{
    width: 100%;
    min-height: 150px;

    display: flex;
    justify-content: left;

    font-family: 'NanumSquareRound';
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);

    white-space: pre-wrap;
}

.review-detail-button-box 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-detail-owner-button-box 
{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.review-detail-primary-button-box
{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.review-detail-primary-button
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 20px;

    background-color: rgba(255, 148, 45, 1);
    border-radius: 6px;

    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.review-detail-primary-button:hover 
{
    cursor: pointer;
    opacity: 0.85;
}

.review-detail-second-button 
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 20px;

    background-color: rgba(245, 138, 35, 0.8);
    border-radius: 6px;

    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.review-detail-second-button:hover 
{
    cursor: pointer;
    opacity: 0.75;
}

.review-detail-error-button 
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 20px;

    background-color: rgba(170, 170, 170, 1);
    border-radius: 6px;

    font-family: 'Nanum Gothic';
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

.review-detail-error-button:hover 
{
    cursor: pointer;
    opacity: 0.85;
}
/* /분석 완료/ */
