#restaurant-info-write-update 
{
    width: 100%;
    max-width: 800px;

    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255, 1);
}

.restaurant-info-image-file-input 
{
    display: inline-block;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    font-family: 'KCC-Hanbit';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
    border: 1px solid rgba(200, 200, 200, 1);
    color: rgba(138, 146, 166, 1);
    border-radius: 50px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.restaurant-info-image-file-input:hover 
{
    opacity: 0.85;
}

.restaurant-info-image-file 
{
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.restaurant-info-image-file:hover 
{
    transform: scale(1.05);
}

.restaurant-info-write-title 
{
    text-align: center;
    margin: 20px 0px;

    font-family: 'KCC-Hanbit';
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 70px;
}

.restaurant-info-write-container 
{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.result
{
    display: flex;
    justify-content: center; 
    font-family: 'KCC-Hanbit';
}

.restaurant-info-write-box 
{
    width: 100%;

    align-items: center;
    justify-content: center;
}

.restaurant-image-box 
{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    margin-top: 10px;
}

.restaurant-info-write-contents
{
    display: flex;
    justify-content: center; 
    font-family: 'KCC-Hanbit';
    font-size: 15px;
}

.restaurant-info-write-select-box 
{
    width: 100%;
    display: flex;
    justify-content: center;
}


.restaurant-info-primary-button 
{ 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(255, 148, 45, 1);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 1);

    font-family: 'KCC-Hanbit';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;

    color: rgba(255, 255, 255, 1);
}

.restaurant-info-primary-button:hover 
{
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid rgba(255, 255, 255, 1);
}

.restaurant-info-disable-button 
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(138, 138, 138, 1);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 1);

    font-family: 'KCC-Hanbit';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color: rgba(255, 255, 255, 1);
}

.businessRegistrationNumber-box 
{
    justify-content: center;
    align-items: center;
}

.businessRegistrationNumber-title 
{
    display: flex;
    justify-content: center;
    margin: 10px;

    font-family: 'KCC-Hanbit';
    font-size: 20px;
    font-weight: bold;
    color: rgba(50, 50, 50, 1);
}

.businessRegistrationNumber-title-input 
{
    width: 400px;
    outline: none;
    padding: 8px 16px;

    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 6px;

    font-family: 'KCC-Hanbit';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: rgba(35, 45, 66, 1);
}

.restaurant-info-registered-button-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 15px;
    padding: 10px;
}
/*분석완료*/