#favorite-list-wrapper 
{
    width: 940px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
    gap: 20px;
}

.favorite-list-title 
{
    text-align: center;

    font-family: 'KCC-Hanbit';
    font-size: 25px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);
}

.favorite-list-top-box 
{
    width: 100%;

    display: flex;
    align-items: end;
}

.favorite-list-size-text 
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(138, 146, 166, 1);
}

.favorite-list-box 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

    gap: 50px;
    margin-top: 10px;
}

.favorite-list-item-box 
{
    width: 200px;
    height: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.favorite-list-item-box:hover 
{
    transform: translateY(-5px);
}

.favorite-list-item-top-box 
{
    width: 100%;

    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.favorite-list-item 
{
    text-align: left;
    align-items: center;

    margin: 10px;     

    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
}

.favorite-list-item-box img 
{
    width: 180px;
    height: 150px;

    object-fit: cover;
}

.name 
{
    width: 100px;
}

.category 
{
    width: 70px;

    margin: 0 5px 0 0;
    
    font-size: 12px;
    color: rgba(150, 150, 150, 1);
}

.location 
{
    width: 180px;

    text-align: left;
}

.load-more-button 
{
    width: 70px;

    text-align: center;

    padding: 5px;
    margin-top: 30px;

    background-color: rgba(245, 138, 35, 0.75);
    border-radius: 5px;

    font-family: 'NanumSquareRound';
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.load-more-button:hover 
{
    cursor: pointer;
    background-color: rgba(245, 138, 35, 0.9);
}
/* 분석 완료 */


