#restaurant-info-wrapper 
{
  width: 900px;
  min-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;

  background-color: rgba(255, 148, 45, 0.15);
  border-radius: 20px;
}

.restaurant-info-container 
{
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.restaurant-info-container img 
{
  width: 400px;
  height: 400px;

  border-radius: 15px;
}

.restaurant-info-container button 
{
  width: 80px;
  height: 35px;
  
  background-color: rgba(255, 148, 45, 0.85);
  border: none;
  border-radius: 5px;

  font-family: 'NanumSquareRound';
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);

  transition: background-color 0.3s ease;
}

.restaurant-info-top-container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.restaurant-info-top 
{
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.restaurant-info-name-box 
{
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;
}

.restaurant-info-name 
{
  font-family: 'KCC-Hanbit';
  font-size: 30px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(50, 50, 50, 1);
}

.restaurant-info-grade 
{
  font-family: 'KCC-Hanbit';
  font-size: 30px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(255, 150, 30, 1);
}

.restaurant-info-category-box 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 5px;
}

.restaurant-info-food-category 
{
  font-family: 'NanumSquareRound';
  font-size: 17px;
  font-weight: bold;
  line-height: 150%;
  color: rgba(125, 125, 125, 1);
}

.restaurant-info-favorite-heart 
{
  width: 30px;
  height: 30px;

  display: inline-block;

  background-image: url('../../../../assets/image/favorite-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.restaurant-info-favorite-non-heart{
  width: 30px;
  height: 30px;

  display: inline-block;

  background-image: url('../../../../assets/image/un-favorite-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.restaurant-info-middle-container 
{
  display: flex;
  flex-direction: row;

  gap: 50px;
}

.restaurant-info-box 
{
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  padding: 10px;

  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
}

.restaurant-info-button-box 
{
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.reservation-delete:hover 
{
  cursor: pointer;
  opacity: 0.75;
}

.reservation:hover 
{
  cursor: pointer;
  opacity: 0.75;
}

.restaurant-info-update:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.restaurant-info-delete:hover
{
  cursor: pointer;
  opacity: 0.75;
}

.review-write:hover 
{
  cursor: pointer;
  opacity: 0.75;
}

.restaurant-info-content-box 
{
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.restaurant-info-imformation 
{
  width: 350px;

  display: flex;
  align-items: center;

  font-family: 'NanumSquareRound';
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(50, 50, 50, 1);
}

.restaurant-info-icon.location 
{
  width: 20px;
  height: 20px;

  background-image: url('../../../../assets/image/location-icon.png');
  background-size: cover;
}

.restaurant-info-icon.telnumber 
{
  width: 20px;
  height: 20px;

  background-image: url('../../../../assets/image/tel-number-icon.png');
  background-size: cover;
}

.restaurant-info-icon.sns 
{
  width: 20px;
  height: 20px;

  background-image: url('../../../../assets/image/sns-icon.png');
  background-size: cover;
}

.restaurant-info-icon.time 
{
  width: 20px;
  height: 20px;

  background-image: url('../../../../assets/image/time-icon.png');
  background-size: cover;
}

.restaurant-info-icon.menu 
{
  width: 20px;
  height: 20px;

  background-image: url('../../../../assets/image/menu-icon.png');
  background-size: cover;
}

.restaurant-info-icon.feature 
{
  width: 20px;
  height: 20px;

  background-image: url('../../../../assets/image/feature-icon.png');
  background-size: cover;
}

.restaurant-info-icon.notice 
{
  width: 20px;
  height: 20px;

  background-image: url('../../../../assets/image/notice-icon.png');
  background-size: cover;
}
/* 분석 완료 */