#my-page-update-wrapper 
{
  height: 700px;
  margin-top: 70px;
}

.my-page-update-container 
{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.my-page-update-top-title 
{
  text-align: center;

  font-family: 'KCC-Hanbit';
  font-size: 30px;
  font-weight: bold;
  line-height: 150%;
}

.my-page-title-box 
{
  display: flex;
  flex-direction: row;
}

.my-page-title 
{
  padding: 10px;

  border: 1px solid rgba(245, 245, 245, 1);

  font-family: 'NanumSquareRound';
  font-size: 17px;
  font-weight: bold;
}

.my-page-update-container 
{
  height: 500px;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.my-page-update-contents-title 
{
  width: 100%;

  display: flex;
  justify-content: flex-start ;

  font-family: 'KCC-Hanbit';
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  color: rgba(50, 50, 50, 1);
}

.my-page-update-contents-box
{
  width: 400px;

  display: flex;
  flex-direction: column;
  
  gap: 20px;

  font-family: 'NanumSquareRound';
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(50, 50, 50, 1);
}

.my-page-update-info-box 
{
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  
  padding-top: 20px;

  border-top: 1px solid rgba(238, 238, 238, 1);
  
  word-break: break-word;
}

.my-page-update-info-left 
{
  width: 100px;
}

.my-page-update-info 
{
  width: 250px;
}

.my-page-input-box 
{
  flex: 1;
}

.my-page-update-button 
{
  width: 150px;

  text-align: center;

  padding: 10px;

  background-color: rgba(255, 148, 45, 0.7);
  border-radius: 8px;

  font-family: 'NanumSquareRound';
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(255, 255, 255, 1);
}

.my-page-update-button:hover 
{
  cursor: pointer;
  opacity: 0.85;
}
/*분석 완료*/
