#review-wrapper 
{
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

.review-image-file-input 
{
    display: inline-block;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    font-family: 'KCC-Hanbit';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
    border: 1px solid rgba(200, 200, 200, 1);
    color: rgba(138, 146, 166, 1);
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.review-image-file-input:hover 
{
    opacity: 0.85;
}

.review-image-file 
{
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.review-image-file:hover 
{
    transform: scale(1.05);
}

.review-write-container 
{
    width: 100%;
    margin-top: 20px;
}

.review-write-title 
{
    margin-bottom: 20px;

    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'KCC-Hanbit';
}

.review-write-container 
{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.review-write-box 
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-grade-box 
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-grade-image 
{
    width: 50px; 
    height: 50px; 

    background-image: url('../../../../../assets/image/star-icon.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

#review-rating-box 
{
    width: 20%;
}

#review-rating 
{
    width: 100px;
    padding: 10px;

    font-size: 16px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 4px;
}

.review-write-contents-box 
{
    width: 100%;
}

.review-write-contents-textarea 
{
    width: 100%;
    padding: 10px;

    font-size: 16px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 4px;
}

.review-registered-button-box 
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.review-registered-button-box button 
{
    padding: 12px 24px;
    
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 148, 45, 1);

    color: rgba(245, 245, 245, 1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.review-registered-button-box button:hover 
{
    opacity: 0.85;
}
/* /분석 완료/ */